
body{
      width: 1600px;
      height: 4975px;
      background: #FFFFFF;
}
header{
      width: 1600px;
      display:flex;
      flex-direction: row;
      height: 80px;
}
nav{
   display: flex;
   flex-direction: row;
   /*padding: 0 29px;*/
   
}
.section1_ft{
   display: flex;
   flex-direction: column;
   background: url(../../assets/images/Giant\ Panda.png);
   backdrop-filter: blur(2px);
   height: 780;
   width: 1600;
}
.section2{
   min-height: 403;
   min-width: 1161;
}
.section3_animals_card{

   min-height: 872;
   min-width: 1158;
}
.bg_section4_pick-and-feed{

   min-height: 1004;
   min-width: 1600;
}
.bg_section4_pick-and-feed{

   min-height: 575;
   min-width: 1160;
}
.footer{
   min-height: 443;
   min-width: 1600;
   background-color: #111115;
}
.logo_footer{
   width: 82px;
   height: 52px;
   left: 220px;
   top: 14px;
   bottom: 14px;

}
.btn_1{
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 25px;
   width: 298px;
   height: 54px;
   left: calc(50% - 298px/2 + 332px);
   top: 626px; 
}
.main_menu{
   display: flex;
   flex-direction: row;
   padding: 0 29px;
   /*height: 22px;*/
   list-style-type: none;
   /*width: auto;*/
   
}
.logo_footer-elements{

   display:flex;
}
.main_menu-elements{
   margin: 29px 0px 29px 58px;
};
.main_menu-1st_element{
   margin: 29px 0px 29px 63px;
};
.main_menu-1st_element a{
    align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}
.main_menu-designlink{
   margin: 29px 220px 29px 438px;
}
.main_menu-designlink a{
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
}
.main_menu-elements a{
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}

@font-face {
   font-family: 'Roboto'; 
   src: url("../../assets/fonts/Roboto-Regular.woff2") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
   } 