.square-btn{
   width: 298px;
   height: 54px;

   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 5px;
   border: none;
   text-align: center;
   text-transform: uppercase;  
}
.round_btn{
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 25px;
   position:absolute;
   width: 298px;
   height: 54px;
   color: #FFFFFF;
   border: none;
}
.btn{
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}
.square-btn{
   width: 298px;
   height: 54px;

   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 5px;
   border: none;
   text-align: center;
   text-transform: uppercase;  
}
.subtitle{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 120%;
}
header{
   /*width: 100%;*/
   display:flex;
   
   justify-content: space-between;
   flex-direction: row;
   height: 80px;
   background: #000000;
   backdrop-filter: blur(2px);
}