body{
   width: 1600px;
   /*height: 4975px;*/
   background: #FFFFFF;
   position:relative;
   /*align-items: center;*/
   align-content: center;
   margin: 0 auto;
}
main{
margin: 0 auto;
display: flex;
flex-direction: column;
}


/*nav{
display: flex;
flex-direction: row;
margin-left: 29px;
/*padding: 0 29px;*/


/*#logo-wrapper{
   flex: 1 1 auto; 
   display: flex;
}
header{
   display: flex;
   flex-direction: row;

}*/

/*.main_menu-elements {
   
   margin-left: 29px;
};
.footer_menu-elements {
   margin-left: 58px;   
}
.main_menu-first_element{
  
   margin-left: 63px;
  
};*/


/*li[class="main_menu-first_element"] {
    align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}*/



/*header h1{
   margin-left: 220px;
}
*/

.panda_bg{
   background: url("../../assets/images/panda_bg.png");
   
   height: 390px;
   left: 0px;
   right: 0px;
   top: 76px;
}
.pick_and_feed{
   /*margin-top: calc(390px+76px);*/
   height: 1482px;
   
   left: 0px;
   right: 0px;
   


/* orange_gradient */

   background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
h3{
   /*margin-top: 40px;*/
   /*font-family: 'Roboto';*/
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 130%;
   
}
.zoo_donate_note-title{
  /* margin-top: 40px;
   margin-bottom: 10px;*/
   /*margin-left: 220px;
   margin-right: 220px;*/
   /*height: 47px;*/
   align-items: flex-start;
   color: #FFFFFF;
   top: 506px;
}
.zoo_donate_note-text{
/*height: 94px;
top: 563px;*/
/*margin-left: 220px;
margin-right: 223px;*/
/*margin-top: 10px;*/
align-items: flex-start;


/* body */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;

}
.pick_and_feed-wrapper{
   margin-left: 220px;
   margin-right: 220px;
   width: 1160px;
   display: flex;
   /*flex-wrap: wrap;*/
   flex-direction: column;
   /*align-items: center;  */
   /*margin: 0 auto;*/
}
.donation_info-text{
  /* width: 341px;
   height: 47px;*/
   /*left: calc(50% - 341px/2 - 409.5px);*/
   /*top: 697px;*/
   align-items: flex-start;
  /* margin-top: 40px;
   margin-bottom: 60px;*/
   align-items: left;
   color: #FE9013;
}
.pick_and_feed_friend-wrapper{
   height: 964px;
   
   top: 804px;
  /* margin-left: 220px;
   margin-right: 220px;*/
   background: rgba(255, 255, 255, 0.52);
   backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

   border-radius: 20px;
}
.pick_and_feed_friend-content{
   margin-left: 92px ;
   margin-right: 92px;
   margin-top: 37px;
   margin-bottom: 65px;
   display: flex;
   flex-direction: column;

}
h2{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 120%;
/* identical to box height, or 58px */

   text-align: center;
}
.pick_and_feed-title{
   color: #FE9013;

   height: 58px;
   align-items: center;
 
}
.pick_and_feed-subtitle{
   
   color: #333B41;
   align-items: flex-start;
   /*width: 1095px;
   height: 29px;*/
 /*  left: 0px;
   margin-top: 20px;
   margin-left: 92px;*/
}

.panda_pics-wrapper{
   display: flex;
   flex-direction: column;
  /* align-items: center ;*/
 
}
#panda-pic{ 

display: flex;
flex: 0 1 auto;
margin-left: 2%;

}
#x-icon{
   display: flex;
   flex: 0 1 auto;
   justify-content: center;
   align-items: center;
}

#amount_days{
   margin-top: 20%;
}
#donate-radion-btn{

display: flex;
flex-direction: column;
justify-content: flex-start;
flex-grow: 0;
}

#donate-radio-btn-1{
   display: flex;
   flex-direction: row;
   flex-grow: 0;
}

.donate-radio-btn{
   display: flex;
   flex-direction: row;
   flex-grow: 0;
}

/*.rb-amount:checked+label::before{
   
   background: green border-box;
   margin: 1px 1px;
   padding: 8px;
   border: none;
  

}*/

.rb-amount{
/*background: orange border-box;*/
border: none;

}
#amount_once, #amount_monthly{
   display: flex;
   flex-direction: row;
   margin-right: 2%;
   justify-content: space-between;
}
#donate-radio{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   
   margin-top: 2%;
}

.donate-radio-btn input[type=radio]
{
   display:none;
  
}
.donate-radio-btn label{

  /* display: inline-block;*/
	cursor: pointer;
	/*position: relative;*/
	/*padding-left: 25px;*/
	margin-right: 0;
	line-height: 8px;
/* */

}

.donate-radio-btn label::before {
   content: "";
  /* display: inline-block;*/
	width: 8px;
	height: 8px;
      display: flex;
      flex-direction: row;
	
   /*left: 0;
	bottom: 1px;*/
   padding: 8px;
   border: 1px solid #FE9013;
   border-radius: 20px;
   /*right: 110%;*/
  
  
  
}
.donate-radio-btn input[type=radio]:checked + label:before{
   content: "";
   border: 1px solid #FE9013;
   border-radius: 20px;
   /*right: 110%;*/
   background: #FE9013 0 0 no-repeat;
}
donate-radio-btn label:hover::before{
	filter: brightness(120%);
}
 

#panda_diet-text{
/*position: absolute;*/
/*width: 159px;
height: 22px;
margin-top: 234px;
margin-left: 253px;*/

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;

color: #333B41;

}
#donate-panda-pics-text{
   display: flex;
   flex-direction: row;
   flex: 0 1 auto;
   justify-content: space-between;
   margin-left: 28%;
   margin-right: 18%;

}
#donate-panda-left{

   display: flex;
   flex-direction: column;
   justify-content: center;
}

#amount-text{
   margin-top: 5%;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
/* or 22px */


color: #000000;

}

#another_amount{
   display: flex;
   align-self: center;
   justify-content: center;
   border-color: #929699;
   background: url("../../assets/icons/dollar.png") no-repeat;
   background-position: 96% 50%;
   width: 70%;
}
#another_amount-input{
   display: flex;
 /*  justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   align-self: center;*/
   background-image: url("../../assets/icons/dollar.png");
    background-repeat: no-repeat;
    background-position: 96% 50%;
    padding: 17px 8px;
    width: 100%;
    margin-left: 2%;
   border: 1px solid #929699;
   box-sizing: border-box;
   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #929699;


}

#donate-amount-wrapper{
   display: flex;
   flex-direction: column;
   width: 40%;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
   margin-left: 30%;
}
#amount_monthly{
   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #333B41;

}
#amount_once{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   /* or 22px */
   
   
   color: #333B41;
   
  
}
#feed_friend-btn{
   position: absolute;
   width: 298px;
   height: 54px;
   margin-top: 649px;
   margin-left: 342px;
}


/*footer{
   display: flex;
   flex-direction: row;
   
   min-height: 443px;
   min-width: 1600px;
   background-color: #111115;
}*/

#rect_email{

   margin-top: 83px;
   margin-left: 1013px;
}



