#main_menu-item 
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  /* margin-top: 0px;*/
   /*margin-bottom: 4px;*/
   /*margin-left: 2%;*/
 
   /*padding: 0 29px;*/  

   height: 80px;
   list-style-type: none;  
   /*width: auto;*/
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
   
}
#main_menu-designlink-wrapper{
   display: flex;
   flex: 1 0 47.6875%; 
   margin-left: 27.375%;
  
   align-items: center;


}

a[class="main_menu-designlink"]{
   align-items: flex-start;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
   text-decoration: none;
}

a[class="main_menu-elements"]{
   align-items: flex-start;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
   text-decoration: none;
}
nav{
   display: flex;
   flex:  1 0 29.4375%;
   margin-left: 3.9375%; 
   align-items: center; 
}
#logo-wrapper{
   display: inline-block;
   flex: 1 0 18.875%; 
  /* margin-left: 0.2%;*/
/*   margin-bottom: 4px;*/
   margin-top: 14px;
   align-items: center;
}
ul{
   padding-inline-start: 0;
  
   
}
.hovered a, 
.main_menu-elements:hover{
   color: #F9804B;
}