#main_menu-item 
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 0px;
   margin-bottom: 0px;
   /*padding: 0 29px;*/  

   height: 80px;
   list-style-type: none;  
   /*width: auto;*/
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
   
}
#main_menu-designlink-wrapper{
   display: flex;
   flex: 2 1 auto; 
   margin-left: 20%;
  
   align-items: center;

}

a[class="main_menu-designlink"]{
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}

a[class="main_menu-elements"]{
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}
nav{
   display: flex;
   flex: 4 1 auto;  
}