body{
   width: 1600px;
   /*height: 4975px;*/
   background: #FFFFFF;
   position:relative;
   /*align-items: center;*/
   align-content: center;
   margin: 0 auto;
}
main{
margin: 0 auto;
display: flex;
flex-direction: column;
}
header{
   width: 100%;
   display:flex;
   flex-direction: row;
   height: 80px;
   background: #000000;
   backdrop-filter: blur(2px);
}
nav{
   display: flex;
   flex: 4 1 auto;  
}
/*nav{
display: flex;
flex-direction: row;
margin-left: 29px;
/*padding: 0 29px;*/


#logo-wrapper{
   flex: 1 1 auto; 
   display: flex;
}
header{
   display: flex;
   flex-direction: row;

}
#main_menu-item 
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 0px;
   margin-bottom: 0px;
   /*padding: 0 29px;*/  

   height: 80px;
   list-style-type: none;  
   /*width: auto;*/
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
   
}
#footer_menu{
   display: flex;
   flex: 1 1 auto;
}
#footer_menu-item{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
   margin-bottom: 13%;
   
   /*padding: 0 29px;*/  
  /* align-items: flex-end;*/
   
   /*height: 80px;*/
   list-style-type: none;  
   /*width: auto;*/
   
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
   
}
/*.main_menu-elements {
   
   margin-left: 29px;
};
.footer_menu-elements {
   margin-left: 58px;   
}
.main_menu-first_element{
  
   margin-left: 63px;
  
};*/
.footer_menu-first_element {
   margin-left: 0px;
}

/*li[class="main_menu-first_element"] {
    align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}*/


#main_menu-designlink-wrapper{
   display: flex;
   flex: 2 1 auto; 
   margin-left: 20%;
  
   align-items: center;

}
#footer_menu-designlink-wrapper{
   display: flex;

}

#footer_menu-designlink{
   display: flex;
   margin-left: 10%;
   justify-content: center;
   align-items: center;
   align-self: flex-end;
   height: 52px;
   margin-right: 10% ;
   margin-top: 35%;
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;

}

a[class="main_menu-designlink"]{
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}
a[class="footer_menu-designlink"]{
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}
a[class="main_menu-elements"],
a[class="footer_menu-elements"]{
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   color: white;
   width: 100%;
}
header h1{
   margin-left: 220px;
}
footer h1{
   margin-left: 224.75px;
   margin-top: 41;
}
h1{
  
   
   box-sizing: border-box;
   /*width: 72.49px;
   height: 44.91px;*/
   width: 82px;
   height: 52px;
   /*left: 4.75px;
   top: 3.55px;*/

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
align-items: center;
/* or 23px */

text-align: center;


color: #FFFFFF;

/*border: 1.18841px solid #FFFFFF; */
border: 1px solid #FFFFFF;
border-radius: 2px;
}
h1::before{
   /*box-sizing: border-box;*/

position: absolute;
display: inline-block;
/*width: 7.03px;
height: 20.98px;*/
margin-left: 7.13px;
margin-top: 24.64px;
/*background-size: 7.03px 20.98px;*/

content: url("../../assets/images/bamboo.png");


/*transform: matrix(-0.9, 0.52, 0.4, 0.88, 0, 0);*/
/*transform: matrix(1, 0, 0, 1, 0, 0);*/
/*box-shadow: 1px 1px 5px #000;*/
}
.panda_bg{
   background: url("../../assets/images/panda_bg.png");
   
   height: 390px;
   left: 0px;
   right: 0px;
   top: 76px;
}
.pick_and_feed{
   /*margin-top: calc(390px+76px);*/
   height: 1482px;
   
   left: 0px;
   right: 0px;
   


/* orange_gradient */

   background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
h3{
   /*margin-top: 40px;*/
   /*font-family: 'Roboto';*/
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 130%;
   
}
.zoo_donate_note-title{
  /* margin-top: 40px;
   margin-bottom: 10px;*/
   /*margin-left: 220px;
   margin-right: 220px;*/
   /*height: 47px;*/
   align-items: flex-start;
   color: #FFFFFF;
   top: 506px;
}
.zoo_donate_note-text{
/*height: 94px;
top: 563px;*/
/*margin-left: 220px;
margin-right: 223px;*/
/*margin-top: 10px;*/
align-items: flex-start;


/* body */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;

}
.pick_and_feed-wrapper{
   margin-left: 220px;
   margin-right: 220px;
   width: 1160px;
   display: flex;
   /*flex-wrap: wrap;*/
   flex-direction: column;
   /*align-items: center;  */
   /*margin: 0 auto;*/
}
.donation_info-text{
  /* width: 341px;
   height: 47px;*/
   /*left: calc(50% - 341px/2 - 409.5px);*/
   /*top: 697px;*/
   align-items: flex-start;
  /* margin-top: 40px;
   margin-bottom: 60px;*/
   align-items: left;
   color: #FE9013;
}
.pick_and_feed_friend-wrapper{
   height: 964px;
   
   top: 804px;
  /* margin-left: 220px;
   margin-right: 220px;*/
   background: rgba(255, 255, 255, 0.52);
   backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

   border-radius: 20px;
}
.pick_and_feed_friend-content{
   margin-left: 92px ;
   margin-right: 92px;
   margin-top: 37px;
   margin-bottom: 65px;
   display: flex;
   flex-direction: column;

}
h2{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 120%;
/* identical to box height, or 58px */

   text-align: center;
}
.pick_and_feed-title{
   color: #FE9013;

   height: 58px;
   align-items: center;
 
}
.pick_and_feed-subtitle{
   
   color: #333B41;
   align-items: flex-start;
   /*width: 1095px;
   height: 29px;*/
 /*  left: 0px;
   margin-top: 20px;
   margin-left: 92px;*/
}
.subtitle{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 120%;
}
.panda_pics-wrapper{
   display: flex;
   flex-direction: column;
  /* align-items: center ;*/
 
}
#panda-pic{ 

display: flex;
flex: 0 1 auto;
margin-left: 2%;

}
#x-icon{
   display: flex;
   flex: 0 1 auto;
   justify-content: center;
   align-items: center;
}

#amount_days{
   margin-top: 20%;
}
#donate-radion-btn{

display: flex;
flex-direction: column;
justify-content: flex-start;
flex-grow: 0;
}

donate-radio-btn-1{
   display: flex;
   flex-direction: row;
   flex-grow: 0;
}

donate-radio-btn{
   display: flex;
   flex-direction: row;
   flex-grow: 0;
}

/*.rb-amount:checked+label::before{
   
   background: green border-box;
   margin: 1px 1px;
   padding: 8px;
   border: none;
  

}*/

.rb-amount{
/*background: orange border-box;*/
border: none;

}
#amount_once, #amount_monthly{
   display: flex;
   flex-direction: row;
   margin-right: 2%;
   justify-content: space-between;
}
#donate-radio{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   
   margin-top: 2%;
}

.donate-radio-btn input[type=radio]
{
   display:none;
  
}
.donate-radio-btn label{

  /* display: inline-block;*/
	cursor: pointer;
	/*position: relative;*/
	/*padding-left: 25px;*/
	margin-right: 0;
	line-height: 8px;
/* */

}

.donate-radio-btn label::before {
   content: "";
  /* display: inline-block;*/
	width: 8px;
	height: 8px;
      display: flex;
      flex-direction: row;
	
   /*left: 0;
	bottom: 1px;*/
   padding: 8px;
   border: 1px solid #FE9013;
   border-radius: 20px;
   /*right: 110%;*/
  
  
  
}
.donate-radio-btn input[type=radio]:checked + label:before{
   content: "";
   border: 1px solid #FE9013;
   border-radius: 20px;
   /*right: 110%;*/
   background: #FE9013 0 0 no-repeat;
}
donate-radio-btn label:hover::before{
	filter: brightness(120%);
}
 

#panda_diet-text{
/*position: absolute;*/
/*width: 159px;
height: 22px;
margin-top: 234px;
margin-left: 253px;*/

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;

color: #333B41;

}
#donate-panda-pics-text{
   display: flex;
   flex-direction: row;
   flex: 0 1 auto;
   justify-content: space-between;
   margin-left: 28%;
   margin-right: 18%;

}
#donate-panda-left{

   display: flex;
   flex-direction: column;
   justify-content: center;
}
#progress_bar{
   
}
#amount-text{
   margin-top: 5%;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
/* or 22px */


color: #000000;

}
#price{
   
}
#another_amount{
   display: flex;
   align-self: center;
   justify-content: center;
   border-color: #929699;
   background: url("../../assets/icons/dollar.png") no-repeat;
   background-position: 96% 50%;
   width: 70%;
}
#another_amount-input{
   display: flex;
 /*  justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   align-self: center;*/
   background-image: url("../../assets/icons/dollar.png");
    background-repeat: no-repeat;
    background-position: 96% 50%;
    padding: 17px 8px;
    width: 100%;
    margin-left: 2%;
   border: 1px solid #929699;
   box-sizing: border-box;
   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #929699;


}

#donate-amount-wrapper{
   display: flex;
   flex-direction: column;
   width: 40%;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
   margin-left: 30%;
}
#amount_monthly{
   font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #333B41;

}
#amount_once{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   /* or 22px */
   
   
   color: #333B41;
   
  
}
#feed_friend-btn{
   position: absolute;
   width: 298px;
   height: 54px;
   margin-top: 649px;
   margin-left: 342px;
}
.round_btn{
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 25px;
   position:absolute;
   width: 298px;
   height: 54px;
   color: #FFFFFF;
   border: none;
}
.btn{
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}

footer{
   display: flex;
   flex-direction: row;
   
   min-height: 443px;
   min-width: 1600px;
   background-color: #111115;
}
.square-btn{
   width: 298px;
   height: 54px;

   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 5px;
   border: none;
   text-align: center;
   text-transform: uppercase;  
}
#donate_volanter{
   position: absolute;
   margin-left: 220px;
   margin-top: 161px;

}
#pet_story-logo{
   position: absolute;
   margin-left: 220px;
   margin-top: 41px;
}
#email-label{

   position: absolute;
   width: 237px;
   height: 29px;

   margin-left: 213px;
   margin-top: 40px;

   color: #FFFFFF;
}
#email-input{
  /* box-sizing: border-box;*/

  /* position: absolute;*/
   
   width: 228px;
   height: 42px;
   padding-left: 10px;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
/* or 22px */


/* Gray 4 */

color:#FE9013;
background-color: #111115;
border-color: #FE9013;
border-radius: 2px;
border: 0.7px solid;
}
#rect_email{

   margin-top: 83px;
   margin-left: 1013px;
}
#submit-btn{
   /*position: absolute;*/
   width: 129px;
   height: 42px;
   margin-left: 10px;;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
/* or 22px */
   color: #000000;
   background: #F1F3F2;
   /* black_blue */
   
   border: 1px solid #333B41;
   border-radius: 5px;
}
#email-form{
   display: flex;
   flex-direction: row;
   width: 367px;
   height: 42px;
   margin-left:213px;
   margin-top: 83px;
}
#social_network{
   display:grid;
   grid-template-columns: 26px 73px;
   grid-template-rows: repeat(4, 26px);
   grid-row-gap: 10px;
   grid-column-gap: 5px;
   width: 111px;
   height: 134px;
   margin-top: 259px;
   margin-left: 220px;
}
.social_network-item{
   width: 73px;
   height: 21px;
   margin-top: 0px;
   margin-left: 0px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
   /* or 22px */


   color: #FFFFFF;
}
.social_network-icon-bg{
   position: absolute;
   width: 26px;
   height: 26px;
   left: 0px;
   top: 0px;
   z-index: 1;
}
.social_network-icon-letter{
   

   /*margin-left: 5px;
   margin-top: 6px;*/
   /*background: #FFFFFF;*/
   z-index: 23;
}
.social-network-icon{
   position: relative;
   width: 26px;
   height: 26px;
}
#fb-icon{
   width: 8px;
   height: 16px;
   margin-left: 9px;
   margin-top: 5px;
}
#youtube-icon{
   width: 18px;
   height: 12.99px;
   margin-left: 4px;
   margin-top: 6px;
}
#instagram-icon{
   width: 16px;
   height: 16px;
   margin-left: 5px;
   margin-top: 5px;   
}
#twitter-icon{
   width: 16px;
   height: 14px;
   margin-left: 5px;
   margin-top: 6px;
}
#footer_left-wrapper{
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   width: 518px;
 /*  margin-left: 220px;*/
}
#footer_right-wrapper{
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   
   
}


